.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    padding-top: 30px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.site-navigation {
text-align: center;
}

.site-navigation-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.site-navigation-item a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
}

.site-navigation-item a:hover {
    color: tomato;
}

ul {
    padding-inline-start: 0;
}

.visually-hidden {
    display: none;
}

.container-headline {
    position: relative;
    text-align: center;
}

.headline h2 {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
}

.headline p {
    position: absolute;
    bottom: 100px;
    color: white;
    left: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.headline h2 a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
}

.headline h2 a:hover {
    font-size: 2.1em;
}


.container-reviews {
    width: 100%;
    margin: 0 auto;
}

.reviews h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
}

.reviews-list {
    text-align: center;
}

.reviews-item {
    list-style: none;
    display: inline-block;
    width: 30%;
}

.reviews-item h3 {
    margin-bottom: 0;
}

.reviews-link {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.reviews-link:hover {
    color: tomato;
}

.reviews-item p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    margin-top: 10px;
}

.container-promo {
    margin: 0 auto;

    text-align: center;

    padding-top: 30px;
    padding-bottom: 25px;

    margin-bottom: 20px;

    background-color: rgba(219, 217, 217, 0.849);
}

.promo h2 {
    text-transform: uppercase;
    font-size: 1.5em;
}

.promo-item {
    list-style: none;

}

.promo-item h3 {
    margin-bottom: 0;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;  
    color: rgb(19, 18, 18);
}

.promo-item p {
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

hr {
    width: 70%;
    border: solid 0.4px rgb(146, 144, 144);
    margin-top: 20px;
}

.promo a {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    font-size: 0.8em;
    color: white;
    background-color: rgb(231, 115, 6);
    letter-spacing: 2px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    border: rgb(231, 115, 6) 1px solid;
}

.promo a:hover {
    background-color: rgb(250, 86, 57);
}


.main-footer {
    background-color: rgb(78, 78, 78);
}

.container-footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.logo-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer-navigation, .social-list {
    text-align: center;
}

.footer-navigation-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-navigation-item a {
    text-decoration: none;
    color: rgb(211, 210, 210);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

.footer-navigation-item a:hover {
    color: tomato;
}

.social-list-item {
    display: inline-block;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    
}


